@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Press+Start+2P&display=swap');


html, body, main {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#bfdbf7, #e1e5f2);

}

main {
    height: 100Vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    box-sizing: border-box;
    border: black 5px solid;
    border-radius: 2%;
    min-width: 200px;
    max-width: 350px;
    max-height: auto;
    display:flex;
    flex-direction: column;
    font-family: 'Goldman', sans-serif;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 8px outset #5f2cdc;
    border-radius: 2%;
}

#calculatorScreen {
    background-color: #f0fbff;
    min-height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex:1;
    flex-wrap: wrap;
    border: 2px black outset;
    background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);
    overflow:auto;
}


#lastOperation, #currentOperation {
    margin-right: 30px;
    padding-bottom: 10px;
    display:flex;
    align-items: flex-end;
    justify-content: end;
    font-size:25px;
    flex:1;
    font-weight: bold;
    overflow: auto;
    text-shadow:rgb(126, 203, 244) 3px 3px;
}

#buttonContainer {
    flex:1;
}

#topButtons {
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
}

#clearButton, #deleteButton {
    padding: 15px;
    flex:1;
    font-family: 'Goldman', sans-serif;
    font-size: 20px;
    background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
    border: 2px black outset;
    opacity: 1;
    font-weight: bold;
}

#clearButton:hover, #deleteButton:hover {
    opacity: .7;
}

#lowerButtons {
    display: flex;
    flex-wrap: wrap;
}

.button {
    box-sizing: border-box;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    width: 25%;
    height: 25%;
    font-weight:bold;
    text-align: center;
    padding: 15px;
    font-family: 'Goldman', sans-serif;
    font-size: 20px;
    border: 2px black outset;
    opacity: 1;
}


.operator {
    box-sizing: border-box;
    background-color: #9ba6a5;
    box-shadow: none;
    background: radial-gradient(465px at -15.1% -25%, rgb(17, 130, 193) 0%, rgb(67, 166, 238) 49%, rgb(126, 203, 244) 90.2%);
    opacity: 1;
}
.operator:hover, .button:hover {
    opacity:.7;
}

footer {
    display:flex;
    height: auto;
    justify-content: center;
    width: 100vw;
    margin-bottom: 2vmax;
    align-items: center;
    font-family: 'Goldman', sans-serif;
    font-size: 20px;
    color: #5f2cdc;
}

a {
    text-decoration: none;
    color: #5f2cdc;
    font-weight: bold;
}

a:hover {
    opacity: .5;
    
}

img {
    margin-bottom: -5px;
    margin-right: 10px;
    color: #5f2cdc;
    transform: scale(1.3);
}
